html{
    background-color: #F8F8FF;
}

body{
    margin: 0px;
    font-family: 'Noto Sans JP', sans-serif;
}

h1{
    font-family: 'Roboto', sans-serif;
}

.posts, .links, .form{
    text-align: left;
    width: 800px;
    margin: 0 auto;
}

.welcome{
    text-align: center;
}

.btn{
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 10px;
    border-radius: 12px;
}

.btn:hover{
    background-color: grey;
}

table, th, td {
    border: 1px solid black;
}

footer{
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}