<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./style.css">
        <title>Submit A Message</title>
    </head>
    <body>
        <header>
            <li><a href="/">Validation</a></li>
            <li><a href="/form">Submit</a></li>
        </header>
        <h1>Validation Project Submission</h1>
        <div class="form">
            <fieldset>
            <p>Share your story, some advice, or just kind words.</p>
            <form name="postmsg" method="POST">
                <label for="name">Nickname:</label><br>
                <input type="text" name="name"><br>
                <label for="message">Message:</label><br>
                <textarea name="message" name="message" rows="4"  cols="50"></textarea><br><br>
                <input type="submit" value="submit"/>
            </form>
            </fieldset>
        </div>
    </body>
</html>